@inject NavigationManager NavigationManager
<MudDialog Class="ma-3 py-5 rounded-lg">
    <TitleContent>
    </TitleContent>
    <DialogContent>
        <MudPaper Elevation="0" Class="d-flex flex-column gap-3 justify-center">
            <MudText Align="Align.Center" Typo="Typo.h5" Color="Color.Default" Style="font-weight: 600"> Are you over the age of 18 years? </MudText>
            <MudText Align="Align.Center" Typo="Typo.body2" Class=""> Please note that if you are under the age of 18 years, you would have to get your legal Gaurdian to register on your behalf</MudText>
        </MudPaper>
        <div class="mt-5 d-flex flex-grow-1 gap-4">
            <MudButton Class="flex-1 rounded-lg" DisableElevation Color="Color.Success" Variant="Variant.Filled" OnClick="Submit">
                 @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudText>Yes I am</MudText>
                }
            </MudButton>
            <MudButton Class="flex-1 rounded-lg" DisableElevation Color="Color.Error" Variant="Variant.Filled" OnClick="Cancel"> No I am not </MudButton>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private bool _processing = false;
    private string ismine = "yes";

    void Submit()
    {
        _processing = true;
        NavigationManager.NavigateTo("/AthReg/"+ismine);
       
       
    }
    void Cancel() => MudDialog.Cancel();
}
